# Dependencies
node_modules/

# Environment variables (DB credentials)
.env

# Logs
logs/
*.log
npm-debug.log*

# Runtime data
pids/
*.pid
*.seed
*.pid.lock

# MySQL / DB related
*.sql
dump/
database/
mysql-data/

# Coverage
coverage/

# OS files
.DS_Store
Thumbs.db

# Editor / IDE
.vscode/
.idea/
*.swp
